.ProfileContainer {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px auto;
}

.ProfileContainer section {
  width: 50%;
}

.ProfileContainer section div {
  width: 100%;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ProfileContainer section div h2 {
  width: 100%;
  margin-left: 10px;
  padding: 0 10px;
  font-size: 20px;
  border: 2px solid #005694;
  border-radius: 10px;
  -webkit-box-shadow: 1px 1px 1px #6b6b6b;
          box-shadow: 1px 1px 1px #6b6b6b;
}

.ProfileContainer article {
  width: 50%;
  height: 30px;
  margin: 10px 0;
  padding: 4px 10px;
  -webkit-transition: height 0.5s, background-color 0.5s, -webkit-box-align 0.5s, -webkit-box-shadow 0.5s;
  transition: height 0.5s, background-color 0.5s, -webkit-box-align 0.5s, -webkit-box-shadow 0.5s;
  transition: height 0.5s, background-color 0.5s, align-items 0.5s, box-shadow 0.5s;
  transition: height 0.5s, background-color 0.5s, align-items 0.5s, box-shadow 0.5s, -webkit-box-align 0.5s, -ms-flex-align 0.5s, -webkit-box-shadow 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border-radius: 8px;
  background-color: #299eb6;
  color: white;
  -webkit-box-shadow: 1px 1px 1px #6b6b6b;
          box-shadow: 1px 1px 1px #6b6b6b;
}

.ProfileContainer article:hover, .ProfileContainer article.selected {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 200px;
  background-color: #1d7688;
  -webkit-box-shadow: 4px 8px 4px #6b6b6b;
          box-shadow: 4px 8px 4px #6b6b6b;
}

.ProfileContainer article:hover h2, .ProfileContainer article.selected h2 {
  text-align: center;
}

.ProfileContainer article:hover hr, .ProfileContainer article.selected hr {
  height: 1px;
  width: 90%;
}

.ProfileContainer article:hover form,
.ProfileContainer article:hover div.ExternalChanges, .ProfileContainer article.selected form,
.ProfileContainer article.selected div.ExternalChanges {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ProfileContainer article h2 {
  width: 100%;
  text-align: left;
  border-radius: 20px;
  cursor: pointer;
}

.ProfileContainer article h2 svg {
  margin-right: 10px;
}

.ProfileContainer article form,
.ProfileContainer article div.ExternalChanges {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 90%;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.ProfileContainer article form p,
.ProfileContainer article div.ExternalChanges p {
  margin-top: 4px;
}

.ProfileContainer article form input,
.ProfileContainer article div.ExternalChanges input {
  -webkit-box-shadow: 2px 2px #000000;
          box-shadow: 2px 2px #000000;
}

.ProfileContainer article form div,
.ProfileContainer article div.ExternalChanges div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ProfileContainer article form div *,
.ProfileContainer article div.ExternalChanges div * {
  margin-left: 4px;
}

.ProfileContainer article form div *:nth-child(1),
.ProfileContainer article div.ExternalChanges div *:nth-child(1) {
  margin-left: 0;
}

.ProfileContainer article form .button,
.ProfileContainer article div.ExternalChanges .button {
  border: 2px solid white;
}

@media only screen and (max-width: 900px) {
  .ProfileContainer section {
    width: 75%;
  }
  .ProfileContainer section div h2 {
    font-size: 20px;
  }
  .ProfileContainer article {
    width: 75%;
  }
}

@media only screen and (max-width: 350px) {
  .ProfileContainer section {
    width: 90%;
  }
  .ProfileContainer section div h2 {
    font-size: 14px;
  }
  .ProfileContainer article {
    width: 90%;
  }
}
/*# sourceMappingURL=style.css.map */