li.WishListItem {
  width: 100%;
  padding: 4px;
  display: grid;
  grid-template-columns: 6fr 1fr;
  border: 1px solid black;
  border-radius: 4px;
  margin-bottom: 10px;
  cursor: pointer;
  div.Infos {
    h2 {
      margin-bottom: 10px;
    }
  }
}
